@tailwind base;
@tailwind components;
@tailwind utilities;
/* always add your css inside @layer base */
@layer base {
  body {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
    @apply text-black bg-white;
  }

  /* layout */
  section,
  footer {
    @apply max-w-[1080px] mx-auto w-full;
  }

  section {
    @apply flex flex-col justify-center items-center px-[2rem];
  }

  nav {
    @apply flex justify-between items-center py-[1.25rem] px-[2rem] select-none max-w-[1440px] mx-auto w-full;
  }

  footer {
    @apply flex justify-between items-center py-[3.25rem] px-[2rem] select-none;
  }

  /* typeface */
  h1 {
    @apply text-[3rem] md:text-[4rem] font-semibold;
  }

  h2 {
    @apply text-[1.5rem] md:text-[2.25rem] font-semibold;
  }

  h3 {
    @apply text-[0.75rem] md:text-[1rem];
  }

  p {
    @apply text-[0.625rem] md:text-[0.875rem] font-light;
  }

  .vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }

  :root {
    --radius: 0.5rem;
  }
}
